$pallete: (
    violet: #B4547E,
    clay: #191E31,
    blue: #6B84C1,
    red: #D47992,
    green: #66AB52,
    yellow: #D7D447,
    orange: #DEAC37,
    teal: #008090
);

@function pallete($name) {
    $color: map-get($pallete, $name);

    @return $color;
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
