$border-radius: 8px;
$border-radius--more: 16px;

$box-shadow-neo--less: -3px -3px 10px var(--top-shaodw, rgba(255, 255, 255, 1)), 3px 3px 10px var(--bottom-shaodw, rgba(0, 0, 0, .1));
$box-shadow-neo: -5px -5px 20px var(--top-shaodw, #FFFFFF), 5px 5px 20px var(--bottom-shaodw, rgba(0, 0, 0, .25));
$box-shadow-neo--inset: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFFFFF;
