$colors: (
    primary: (
        lightest: lighten(pallete(teal), 30%),
        lighter: lighten(pallete(teal), 20%),
        light: lighten(pallete(teal), 10%),
        base: pallete(teal),
    ),
    secondary: (
        lightest: tint(pallete(orange), 40%),
        lighter: tint(pallete(orange), 20%),
        light: tint(pallete(orange), 10%),
        base: pallete(orange)
    ),
    background: (
        lightest: lighten(pallete(clay), 30%),
        lighter: lighten(pallete(clay), 20%),
        light: lighten(pallete(clay), 10%),
        base: pallete(clay),
        comp: (
            primary: (
                '4': mix(pallete(teal), pallete(clay), 80%),
                '5': mix(pallete(teal), pallete(clay), 100%)
            )
        )
    ),
    foreground: (
        dimer: tint(pallete(clay), 30%),
        dim: tint(pallete(clay), 50%),
        base: tint(pallete(clay), 70%)
    )
);

@function color($type, $shade: base) {
    $color: map-get(map-get($colors, $type), $shade);

    @return $color;
}

@function color-comp($type, $comp_name, $shade: '5') {
    $color: map-get(
        map-get(
            map-get(
                map-get($colors, $type),
                comp
            ),
            $comp_name
        ),
        $shade
    );

    @return $color;
}
