$color-background: $color-mirage;
$color-foreground: $color-gigas--100;
$color-foreground--dim: $color-blue--800;

$color-primary--light: $color-gigas--400;
$color-primary: $color-gigas--500;

$color-success: $color-green--500;
$color-info: $color-blue--500;
$color-warning: $color-orange--500;
$color-danger: $color-red--500;
