@font-face {
    font-family: Linotte;
    src: url('../fonts/Linotte/Linotte-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Linotte;
    src: url('../fonts/Linotte/Linotte-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Linotte;
    src: url('../fonts/Linotte/Linotte-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Linotte;
    src: url('../fonts/Linotte/Linotte-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: 700;
}

@font-face {
    font-family: Linotte;
    src: url('../fonts/Linotte/Linotte-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


